*{
    margin: 0;
    padding:0;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: olive;
}
.home > p {
        position: absolute;
width: 293px;
height: 59px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
}

nav{
    height: 50px;
    background: rgb(92, 192, 205);
}
nav > ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}
nav> ul > li {
    display: inline-block;
    line-height: 50px;
    margin:0 15px;
    color: lawngreen;
    }
 nav > ul > li > a {
     position: relative;
     padding: 5px 0;
     color: rgb(2, 14, 19);
     font-size:  18px;
     text-decoration: none;
 }
 .home{
     background-image: url(images/dairyybreed3.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 500px;
 }
 .home > p{
     text-align: center;
     padding:5px;
 }
h1{
    text-align: center;
}
.home > img{
    background-repeat: no-repeat;

}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
#animals{
    text-align: start;
    background-color: lawngreen;
}
#footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}  