*{
    margin: 0;
    padding:0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rosybrown;
}
.header >h1 {
    text-align: center;

}
.home > p {

        position: relative;
        color: blue;
        font-weight: bold;     

}

nav{
    height: 50px;
    background: grey;
}
nav > ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}
nav> ul > li {
    display: inline-block;
    line-height: 50px;
    margin:0 15px;
    color: lawngreen;
    }
 nav > ul > li > a {
     position: relative;
     padding: 5px 0;
     color: rgb(2, 14, 19);
     font-size:  18px;
     text-decoration: none;
 }
 .home{
     background-image: url(images/dairyybreed3.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 500px;
 }
 .home > p{
     text-align: center;
     padding:5px;
 }
h1{
    text-align: center;
}
.home > img{
    background-repeat: no-repeat;

}
.images{
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main{
      box-sizing: border-box;
    background-color: lightslategray;
    height:500px;
    /*display:flex;
    justify-content: space-between;
    flex-direction: column;
    */
  }
  .column {
    float: left;
    width: 28%;
    padding: 5px;
    height: 200px; 
  }

#animals{
  content: "";
  display: table;
  clear: both;
}
#footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: lightgrey;
}  